/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  /* Color Primario (El azul oscuro de la barra de Amazon) */
  --ion-color-primary: #131921;
  --ion-color-primary-rgb: 19, 25, 33;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #11161d;
  --ion-color-primary-tint: #2c3138;

  /* Color Secundario (El naranja/amarillo de Amazon) */
  --ion-color-secondary: #ff9900;
  --ion-color-secondary-rgb: 255, 153, 0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e08600;
  --ion-color-secondary-tint: #ffa21a;
  
  /* Color del fondo (El gris claro de fondo de Amazon.mx) */
  --ion-background-color: #f0f2f2;

  /* Color del texto */
  --ion-text-color: #0f1111;
}
